@page "/Settings"
<h3>Settings</h3>
<AuthorizeView>
    <Authorized>
       
    </Authorized>
    <NotAuthorized>
        <span>You are not allowed to view this page!</span>
    </NotAuthorized>
</AuthorizeView>
@code {

}
