@page "/Dashboard"
<h3>Dashboard</h3>
<AuthorizeView>
    <Authorized>
        <h5>Welcome</h5>
    </Authorized>
    <NotAuthorized>
        <span>You are not allowed to view this page!</span>
    </NotAuthorized>
</AuthorizeView>
@code {

}
